<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<form method="POST" action="/">
		<label for="name">Puppy Name:</label>
		<p><input type="text" name= "name"></p>

		<label for="breed">Puppy Breed:</label>
		<p><input type="text" name= "breed"></p>

		<label for="age">Puppy Age:</label>
		<p><input type="text" name= "age"></p>
		
		<p><input type="submit" name="submit" value="submit">
	</form>
</body>
</html>